*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'quantico';
    
}
.container{
    max-width: 1273;
    padding: 21px;
}
header{
    background-color: #272C3D;
}
ul{
    font-family: Quantion;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
    text-align: left;
    display: flex;
    gap: 25.46px;
}
a{
    color: #fff;;
}
a:hover{
    color:#FF9C28;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
}
.input{
    width: 241.87px;
height: 30px;
top: 20px;
left: 790.53px;
border-radius: 5px ;
background-color:#404864;
display: flex;
align-items: center;
justify-content: center;
transform: translateX(195.05px);


}
.search{

}
input{
    background: transparent;
   
}


.select{
    width: 165.49px;
height: 30px;
top: 20px;
left: 1070.59px;
gap: 0px;
opacity: 0px;
display: flex;
justify-content:right ;


}
.backroung-img{

        background-image: url('./assets/images/Bk.png');
        width: 100%;
        height:100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    body{
        background-color: black;
    }
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgt{
        width: 44.59px;
        height: 44.33px;
        top: 806.89px;
        left: 1146.83px;
        gap: 0px;
        opacity: 0px;
        display: flex;
       
    }
    .major{
        font-family: Quantico;
        font-size: 32px;
        font-weight: 400;
        line-height: 45.76px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;    
        display: flex;
        justify-content: center;
    }
    .two-section { 
        background-color: #1B1E27; 
        width: 95%; 
        margin: 0 auto; 
        margin-top: 245px; 
    } 
     
    .subtitle { 
        display: flex; 
        margin-left: 17px; 
        font-family: Quantico; 
        font-size: 14px; 
        margin-bottom: 30px; 
        font-weight: 400; 
        color: #fff; 
    } 
     
    .first-img { 
        display: flex; 
    } 
     
    .title { 
        color: #fff; 
        font-family: Quantico; 
        font-size: 24px; 
        font-weight: 400; 
        margin-bottom: 30px; 
    } 
     
    .second-section { 
        max-width: 740px; 
        margin: 0 auto; 
        padding-top: 60px; 
    } 
    .all-sections{ 
        background-color: #1B1E27; 
        width: 95%; 
        margin: 0 auto; 
    } 
    .third-section{ 
        margin-top: 142px; 
    }
    .f1{
        background-color: #272C3D;
        display: flex;
        justify-content: space-between;
        width: 1273px;
height: 70px;
width: 100%;
padding: 27px;

    }
    
    .img1{
        width: 38px;
height: 38px;
top: 1949px;
left: 47px;
gap: 0px;
opacity: 0px;

    }
    
    
    


